/target
/scratch
**/*.rs.bk
history.txt
tests/fixtures/nuplayground
crates/*/target
.mailmap

# Debian/Ubuntu
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/nu.substvars


# macOS junk
.DS_Store

# JetBrains' IDE items
.idea/*
